.about {
  background-color: $primary-color;
  color: $text-color;
  padding: 40px 20px;

  .content {
    display: flex;
    align-items: center;

    img {
      width: 30rem;
      margin-right: 20px;
      border-radius: $card-radius;
    }

    p {
      flex: 1;
      font-size: 1rem;
      line-height: 3;
    }
  }

  @media (max-width: 768px) {
    .content {
      display: flex;
      flex-direction: column; // Cambia a columna para móviles
      align-items: center;
      text-align: center;
    }

    img {
      width: 80%; // Ajusta el ancho al 80% para pantallas móviles
      max-width: 15rem; // Tamaño máximo de la imagen para evitar que sea demasiado grande
    }

    p {
      width: 90%; // Limita el ancho del párrafo en móviles
      margin: 0 auto;
      padding: 0 10px; // Añade padding lateral para mejor espaciado
    }
  }
}
